<div class="date-range-picker"
    (keyup.enter)="onPickerToggle()">
    <input
      type="text"
      (click)="onPickerToggle()"
      [value]="displayDateRange"
      readonly
      class="compact-input"
      [placeholder]="mode() === 'basic' ? 'Select Date Range' : 'Advanced Date Selection'"
    />
  @if(showDatePicker()) {
      <div #datePicker class="date-picker" [style.transform]="'translate(' + translateX + 'px,'+translateY + 'px)'">
        <div class="dual-calendar">
            <div class="calendar">
                <ng-container
                [ngTemplateOutlet]="controls"
                [ngTemplateOutletContext]="{month: leftMonth}">
            </ng-container>
              <div class="calendar-pane">
                <ng-container
                    [ngTemplateOutlet]="monthView"
                    [ngTemplateOutletContext]="{month: leftMonth, days: daysInMonthLeft}">
                </ng-container>
              </div>
            </div>
            <div class="calendar">
                <ng-container
                    [ngTemplateOutlet]="controls"
                    [ngTemplateOutletContext]="{month: rightMonth}">
                </ng-container>
                <div class="calendar-pane">
                  <ng-container
                      [ngTemplateOutlet]="monthView"
                      [ngTemplateOutletContext]="{month: rightMonth, days: daysInMonthRight}">
                  </ng-container>
                </div>
            </div>
        </div>
        <div class="date-picker-footer">
          <button (click)="applyDateRange()">Ok</button>
          <button (click)="clearDateRange()">Clear</button>
        </div>
      </div>
  }
  </div>

<ng-template #controls let-month="month">
    <div class="calendar-controls">
        <span class="previous">
            <button class="year" (click)="previousYear()" title="Previous Year">&lt;&lt;</button>
            <button class="month" (click)="previousMonth()" title="Previous Month">&lt;</button>
        </span>
        <span class="month-label">{{ month | date: 'MMMM yyyy' }}</span>
        <span class="next">
            <button class="month" (click)="nextMonth()" title="Next Month">&gt;</button>
            <button class="year" (click)="nextYear()" title="Next Year">&gt;&gt;</button>
        </span>
      </div>
</ng-template>

<ng-template #monthView let-month="month" let-days="days">
    <div class="day-names">
        @for(day of dayNames; track day) {
        <div class="day-name">{{ day }}</div>
        }
    </div>
    <div class="days">
        @for(day of days; track day) {
            <div
                tabindex="0"
                class="day"
                [ngClass]="{
                    'disabled': isDisabled(day) || month.getMonth() != day.getMonth(),
                    'selected': isSelected(day),
                    'in-range': !isDisabled(day) && isInRange(day) && month.getMonth() == day.getMonth()
                    }"
                (mouseenter)="onDateHover(day)"
                (click)="selectDate(day)"
                (focus)="onDateHover(day)"
                (keyup.enter)="$event.stopPropagation();selectDate(day)">
                @if(day.getDate() > 9) {
                    {{ day.getDate() }}
                }
                @else {
                    &#8205;{{ day.getDate() }}
                }
            </div>
        }
    </div>
</ng-template>